[package]
name = "cauldron"
edition.workspace = true
version.workspace = true
authors.workspace = true
description.workspace = true
documentation.workspace = true

[dependencies]
log = { workspace = true, features = ["std"] }
